In [1]:
import pandas as pd

In [3]:
#data=pd.read_csv(r'../Data/interim/all_data_preprocessed.csv')
data=pd.read_csv(r'../../Data/interim/all_data_preprocessed_sent_topi_2.12.csv')

C:\Users\46649\AppData\Local\Temp\ipykernel_46708\3891101144.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'../../Data/interim/all_data_preprocessed_sent_topi_2.12.csv')

Posts_num

In [ ]:
result = data.groupby(['user_type','year']).size().unstack(fill_value=0)
result.loc['Sum'] = result.sum()
result.to_csv('../../Data/output/texts/post_num.csv', encoding="utf_8_sig",index=True)
result

year,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
user_type,,,,,,,,,,
--,10057,13665,22993,25391,29302,29938,41154,45863,40306,80871
Business,281,394,620,926,864,817,1460,1415,2265,17386
Government,35,55,267,453,310,349,358,379,1256,7895
Sum,10373,14114,23880,26770,30476,31104,42972,47657,43827,106152

Posts_nation

In [ ]:
value_counts = data['nation'].value_counts().to_frame()
value_counts.to_csv('../../Data/output/texts/post_nation.csv', encoding="utf_8_sig",index=True)
value_counts

                nation
unknown         120017
united states    92139
china            82153
united kingdom   23136
india             8704
...                ...
rwada                1
turkmenistan         1
liberia              1
eritrea              1
nicaragua            1

[194 rows x 1 columns]

passenger_freight

In [ ]:
result = data.groupby(['user_type','passenger_freight']).size().unstack(fill_value=0)
result.loc['sum'] = result.sum()
#result.to_csv('../Data/output/ratio_passenger_freight.csv', encoding="utf_8_sig",index=True)
result.to_csv('../../Data/output/texts/ratio_passenger_freight.csv', encoding="utf_8_sig",index=True)
result

passenger_freight       1      2       3     4
user_type
--                 134324   7238  197035   943
Business             9802   3806   12662   158
Government           3018   2755    5573    11
sum                147144  13799  215270  1112

统计不同关键词的数量

In [3]:
data=pd.read_csv(r'../Data/interim/all_data_preprocessed_sent_topi_2.12.csv')
result=data.groupby(['keyword']).size()
result

C:\Users\46649\AppData\Local\Temp\ipykernel_36100\656825672.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'../Data/interim/all_data_preprocessed_sent_topi_2.12.csv')

keyword
Eve Air Mobility             196
Eve Air Mobility             800
Guangzhou Ehang               86
Jaunt Air Mobility           438
Joby Aviation              13014
advanced air mobility      10585
air taxi                   47394
autonomous air vehicles      430
drone taxis                 6092
eVTOL                       3512
eVTOL_t                    70759
uam                        37258
urban aerial mobility        233
urban air mobility         20342
vtol                       86613
丰翼科技                          99
亿航智能                        3635
低空出行                        2049
低空经济                       47017
城市空中交通                      1184
外卖无人机                        771
大疆无人机                        743
无人机配送                       3796
无人驾驶航空器                     6221
物流无人机                       5507
电动垂直起降机                      779
空中出租车                       1177
空中物流                        1924
空中的士                        3227
空中通勤                         962
道通智能                         482
dtype: int64

In [4]:
result.to_csv('../Data/output/keyword_count_2.12.csv', encoding="utf_8_sig",index=True)