In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r'../Data/interim/all_data_preprocessed.csv')

C:\Users\46649\AppData\Local\Temp\ipykernel_37984\7853874.py:1: DtypeWarning: Columns (2,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'D:\\OneDrive\\UAM\\Data\\Z_Topic Analysis_1\\1.17\\twitter_weibo_all_cleaned_no_anal.csv')

Posts_num

In [4]:
result = data.groupby(['user_type','year']).size().unstack(fill_value=0)
result.loc['Sum'] = result.sum()
result.to_csv('./Data/output/post_num.csv', encoding="utf_8_sig",index=True)
result

year,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
user_type,,,,,,,,,,
--,12719,16670,26052,29590,34525,36740,47883,53528,49002,101941
Business,299,400,643,970,893,854,1515,1455,2337,17980
Government,37,65,277,457,317,355,364,398,1265,8040
Sum,13055,17135,26972,31017,35735,37949,49762,55381,52604,127961

Posts_nation

In [5]:
value_counts = data['nation'].value_counts().to_frame()
value_counts.to_csv('../Data/output/post_nation.csv', encoding="utf_8_sig",index=True)
value_counts

                nation
unknown         145382
united states   109614
china            91905
united kingdom   26947
india             9449
...                ...
cabo verde           1
suriname             1
pirate islands       1
rhode island         1
eritrea              1

[196 rows x 1 columns]

passenger_freight

In [23]:
result = data.groupby(['user_type','passenger_freight']).size().unstack(fill_value=0)
result.loc['sum'] = result.sum()
result.to_csv('../Data/output/ratio_passenger_freight.csv', encoding="utf_8_sig",index=True)
result

passenger_freight       1     2       3     4
user_type
--                 146766  5199  153663  1022
Business             5145  1908    2156   157
Government           1522  1332     672     9
sum                153433  8439  156491  1188

统计不同关键词的数量

In [16]:
data=pd.read_csv(r'../Data/interim/all_data_preprocessed.csv')
result=data.groupby(['keyword']).size()
result

C:\Users\46649\AppData\Local\Temp\ipykernel_2844\2272255690.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv(r'D:\\OneDrive\\UAM\\Data\\Z_Topic Analysis_1\\12.12\\twitter_weibo_all_cleaned_kw.csv')

keyword
Eve Air Mobility              800
Guangzhou Ehang                33
Jaunt Air Mobility            434
Joby Aviation               10314
advanced air mobility        8628
air taxi                    41817
autonomous air vehicles       238
drone taxis                  5907
eVTOL                         586
eVTOL_t                     55275
uam                         57748
urban aerial mobility         206
urban air mobility          18362
vtol                       101389
丰翼科技                           84
亿航智能                         2776
低空出行                          887
低空经济                         2162
城市空中交通                        494
外卖无人机                         339
大疆无人机                         386
无人机配送                        2008
无人驾驶航空器                      2767
物流无人机                        2132
电动垂直起降机                       196
空中出租车                        1120
空中物流                          479
空中的士                         1190
空中通勤                          403
道通智能                          391
dtype: int64

In [19]:
result.to_csv('../Data/output/keyword_count.csv', encoding="utf_8_sig",index=True)